/* Resetting css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;    
}

body {
    background-color: #f7f7f5;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    color: whitesmoke;
}

/* Header */
header {
    background-color: #1f2937;
}

.nav-container {
    /* border: 2px solid red; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    /* border: 2px solid white; */
    width: 1424px;
    padding: 0 8px;
    display: flex;
}

.logo {
    /* border: 2px solid yellow; */
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.links {
    /* border: 2px solid green; */
    margin-left: auto;  
    display: flex;
    align-items: center;  
}

.links ul {
    list-style: none;
    display: flex;   
    gap: 16px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Company Description Section */
.company-image img {
    width: 500px;
    height: auto;
    border-radius: ;
}