/* Resetting css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;    
}

body {
    background-color: #f7f7f5;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #1f2937;
    color: whitesmoke;
}

.nav-container {
    border: 2px solid red;
    width: 960px;
}

.navbar {
    display: flex
}