/* Resetting css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;    
}

body {
    background-color: #f7f7f5;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    color: whitesmoke;
}

/* Header */
header {
    background-color: #1f2937;
}

.nav-container {
    /* border: 2px solid red; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    /* border: 2px solid white; */
    width: 1424px;
    padding: 0 8px;
    display: flex;
}

.logo {
    /* border: 2px solid yellow; */
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.links {
    /* border: 2px solid green; */
    margin-left: auto;  
    display: flex;
    align-items: center;  
}

.links ul {
    list-style: none;
    display: flex;   
    gap: 16px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Company Description Section */
.company-image img {
    width: 500px;
    height: auto;
}

.description {
    width: 500px;
}

.slogan {
    font-size: 48px;
    font-weight: bolder;
    line-height: 1.5;
    margin-bottom: 15px;
}

.blurb {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

button {
    background-color: #3882f6;
    width: 150px;
    height: 38px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.company-details {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    width: 1424px;
    padding: 0 8px;
    margin: 45px 0;
}

.company-image {       
    align-self: center;
}

.services {
    /* border: 5px solid red; */
    padding: 32px;
    color: #1f2937;
    background-color: whitesmoke;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 32PX;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.service img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.service {
    max-width: 200px;
}

/* Testimonial Section */
.testimonial-container {
    /* border: 5px solid red; */
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial {
    width: 900px;
    margin-bottom: 16px;
    font-size: 36px;
    font-style: italic;
}

.testimonial-one {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
}

.name {
    align-self: flex-end;
}